.residentsP {
    padding: 10px;
    min-height: max-content;
  }
  
  .residentsP:hover {
      color: #694279;
  }
  
  .photo {
    position: fixed;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .photo img {
      width: 100%;
  }