.rick_menu {
    position: fixed;
    top: 400px;
    display: flex;
    color: #180022;
    font-size: 24px;
    font-size: 24px;
    color: #180022;
}

.rick_photo {
    
    height: 255px;
    width: auto;
    transform: scale(-1, 1);
}