.character {
    display: flex;
    max-height: 200px;
    max-width: 400px;
    margin: 20px;
    background-color: #3b2942;
    color: #fff;
    border-radius: 14px;
    overflow: hidden;
    transition: ease-out 1s;
}

.character:hover {
    background-color: #6b4a77;
    cursor: default;
}

.image {
    max-height: 100%;
}

.name {
    font-size: 26px;
    margin: 6px 0 0 6px;
}

.spec {
    font-size: 18px;
    margin-left: 6px;
}

.character_info {
    font-size: 18px;
    margin: 6px 0 0 8px;
}

.character_info span {
    font-size: 16px;
    color: rgb(155, 155, 155);
}